<mat-card class="card">
    <mat-card-header>
        <img mat-card-avatar matSuffix [src]="sanitize(client.logo)"/>
      <mat-card-title>{{client.socialName}}</mat-card-title>
      <mat-card-subtitle>{{client.phone | mask: '(00)00000-0000'}}</mat-card-subtitle>
      <button class="button-menu" mat-icon-button (click)="menuClient(client)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
        <p>
            <strong>Resp. legal: </strong>{{client.nameResponsiblePerson}}
        </p>
        <p>
            <strong>Resp. Técnico: </strong> {{client.nameTechnicalManager}}
        </p>
        <p>
            <strong>Endereço: </strong>{{client.address}}, {{client.city}}
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onDocs.emit(client)">Documentos</button>
      <button mat-button>Galeria</button>
    </mat-card-actions>
  </mat-card>


